@charset "UTF-8";
/* CSS Document */
.menuDisplay {
  display: block;
}
.sizeNotAllow {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: baseline;
  z-index: 9999;
  display: none;
}
@media (max-width: 950px) {
  .menuDisplay {
    display: none;
  }
  /*	252 250 202 195 250 215*/
  body, .window::before, .menuBar::before, .dockOut::before, .wrap-ms-right::before {
    background-image: linear-gradient(-135deg, rgb(252, 250, 202), rgb(195, 250, 215));
  }
   #launchV{
	  display: none;
  }
}
@media (max-width: 535px) {
  .dockOut, .dcokCountiner, .appOut {
    width: 100%;
  }
  .beian {
    font-size: 0.5rem;
  }
}
@media (max-width: 490px) {
  #tinV, #lineV {
    display: none;
  }
}
@media(max-width: 420px) {
  #pdV {
    display: none;
  }
}
@media(max-width: 365px) {
  #txtV {
    display: none;
  }
}
@media(max-width: 350px) {
  div:not(.sizeNotAllow) {
    display: none;
  }
  .sizeNotAllow {
    display: flex;
  }
}